<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.car.business.mapper.user.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sky.car.business.entity.user.User">
        <id column="Id" property="Id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="realName" property="realName" />
        <result column="qq" property="qq" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="token" property="token" />
        <result column="nickName" property="nickName" />
        <result column="avatarUrl" property="avatarUrl" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="gender" property="gender" />
        <result column="openid" property="openid" />
        <result column="level" property="level" />
    </resultMap>

</mapper>
